<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1" *ngIf="profile">
          <img [src]="profile.avatar" class="user-img" />
          <h4>{{ profile.fullName }}</h4>
          <p>{{ profile.description }}</p>
           <app-follow-button
            [hidden]="isUser"
            [profile]="profile"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button>
          <app-addfriend-button
            [hidden]="isUser"
            [profile]="profile"
            (toggle)="onToggleAdding($event)">
            </app-addfriend-button>
           <a [routerLink]="['/settings']"
              [hidden]="!isUser"
              class="btn btn-sm btn-outline-secondary action-btn">
              <i class="fa fa-gear"></i> Chỉnh sửa thông tin
            </a>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }"
                 [routerLink]="['/profile', username]">
                 Bài viết
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }"
                 [routerLink]="['/profile', username, 'gallery']">
                 Thư viện hình
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }"
                   [routerLink]="['/profile', username, 'friends']">
                   Bạn bè
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }"
                 [routerLink]="['/profile', username, 'favorites']">
                 Bài viết yêu thích
              </a>
            </li>
          </ul>
        </div>

        <router-outlet></router-outlet>
      </div>

    </div>
  </div>

</div>
