<nav class="navbar navbar-light">
  <div class="container">
    <a [routerLink]="['/']" routerLinkActive="router-link-active" class="navbar-brand">mewmew</a>
    <ul class="nav pull-xs-right">
      <li class="nav-item">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link">
        Home
      </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="nav-link">
          Sign in
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="nav-link">
          Sign up
        </a>
      </li>
    </ul>
  </div>
</nav>