<li class="nav-item">

</li>
<div class="dropdown">
  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" style="color: rgba(0, 0, 0, 0.3);">
    <i class="fa fa-bell"></i> Thông báo
    <span class="badge badge-danger">4</span>
  </a>

  <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

    <!-- <div class="notification-heading">
      <h4 class="menu-title">Notifications</h4>
      <h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
    </div> -->
    <li class="divider"></li>
    <div class="notifications-wrapper">
      <div class="notification-item">
        <div class="row">
          <div class="col-sm-2">
            <img class="notify-img" src="http://placehold.it/45x45" alt="">
          </div>
          <div class="col-sm-10">
            <p class="item-title">Trần Ngô Đình Tấn muốn kết bạn.</p>
            <a href="#" class="btn btn-primary btn-sm mr-1">Chấp nhận</a>
            <a href="#" class="btn btn-primary btn-sm">Xem trang cá nhân</a>
          </div>
        </div>
      </div>
    </div>
    <li class="divider"></li>
    <div class="notification-footer">
      <h4 class="menu-title">
        Xem tất cả
      </h4>
    </div>
  </ul>

</div>