<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

  <session-factory>

      <!-- Database connection settings -->
      <property token="connection.driver_class">com.mysql.jdbc.Driver</property>
      <property token="connection.url">jdbc:mysql://localhost:3306/dating_datastore?useSSL=false</property>
      <property token="connection.username">root</property>
      <property token="connection.password">tqh</property>

      <!-- JDBC connection pool (use the built-in) -->
      <!--<property token="connection.pool_size">1</property>-->

      <!-- SQL dialect -->
      <property token="dialect">org.hibernate.dialect.MySQLDialect</property>

      <!-- Enable Hibernate's automatic session context management -->
      <property token="current_session_context_class">thread</property>

      <!-- Disable the second-level cache -->

      <!-- Echo all executed SQL to stdout -->
      <property token="show_sql">true</property>


      <mapping class="com.culicode.dating.mewmew.domain.Article" />
      <mapping class="com.culicode.dating.mewmew.domain.User" />
      <mapping class="com.culicode.dating.mewmew.domain.UserRole" />
      <mapping class="com.culicode.dating.mewmew.domain.AppRole" />
  </session-factory>

</hibernate-configuration>
